/* ============================================================
COMMON
============================================================ */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.headline-section {
    height: 600px;
}

/* ============================================================
HEADLINE SECTION
============================================================ */
.headline-section {
    background-image: url("../images/background/background-yellow.jpg");
    background-size: cover;
    background-position: center;
    background-position: fixed;
}
.icon {
    color: rgb(250, 215, 73);
}
.head-contact-col {
    text-align: center;
}
.head-contact-col h6 {
    display: inline;
    color: white;
}
.headline-content{
    text-align: center;
}


/* ============================================================
FOOD SECTION
============================================================ */
.food-section {
    background-image: linear-gradient(45deg, rgba(54, 59, 54, 0.8) 55%, rgba(54, 59, 54, 0.85)), url("../images/background/tile-background.png");
    /* background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh; */
}

.food-group{
    padding-top: 30px;
}

.food-product{
    margin: 20px;
}

.btn{
    background-color: lightgray;
    border-color: lightgray;
    pointer-events: none;
    cursor: default;
    text-decoration: none;
}

/* ============================================================
FEEDBACK
============================================================ */

.feedback-slide{
    /* height: 600px; */
}

/* ============================================================
FOOTER
============================================================ */
.footer {
    height: 400px;
    background-color: rgb(51, 46, 46);
}

.footer-logo{
    width: 200px;
    margin-top: 100px;
}

.author{
    color: white;
}