/* ============================================================
COMMON
============================================================ */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.section1, .section3, .section2 {
    height: 600px;
}

/* ============================================================
SECTION 1
============================================================ */
.section1 {
    background: rgba(14, 14, 13, 0.8);
}
.icon {
    color: rgb(250, 215, 73);
}
.head-contact-col {
    text-align: center;
}
.head-contact-col h6 {
    display: inline;
    color: white;
}
.headline-content{
    text-align: center;
}


/* ============================================================
SECTION 2
============================================================ */
.section2 {
    background: rgb(250, 215, 73);
}


/* ============================================================
SECTION 3
============================================================ */
.section3 {

}